@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<h2>Item: @Model["item"].GetDescription()</h2>
<hr />
@if (@Model["itemCategories"].Count != 0)
{
  <div class="well">
    <h4>This item has these categories:</h4>
    <ul>
      @foreach (Category category in @Model["itemCategories"])
      {
        <li>@category.GetName()</li>
      }
    </ul>
  </div>
}
<div class="well">
<h4>Add a category to this item:</h4>
<form class="form-inline" action="/items/@Model["item"].GetId()/categories/new" method="post">
  <div class="form-group">
    <label for="category-id">Select a category</label>
    <select id="category-id" name="category-id" type="text">
      @foreach (var category in @Model["allCategories"])
      {
        <option value="@category.GetId()">@category.GetName()</option>
      }
    </select>
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
</div>
@* <p><a href="/">Return to Main Page</a></p> *@
